*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:'poppins',sans-serif;

}
body{
    background-color: #030104eb;
    color: #fff;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 20px 9%;
    width: 100%;
    align-items: center;
    
}
a{
    color: #fff;
    text-decoration: none;
    
}

.navbar .logo{
    font-size: 33px;
    padding-left: 40px;
    font-weight: 700;
}

.navbar ul li{
    list-style: none;

}

.navbar ul{
    display: flex;
    gap: 30px;
}

 .navbar ul li a{
    font-size: 1.3rem;
    font-weight: 600;
    transition: 0.5s;

}

.navbar ul li:hover a,
.navbar ul li.active a{
    color: #632ae9;
}

.home {
    padding: 15% 11.5%;
    display: flex;
    align-items: center;    
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

.home-info .btn-sci{
    display: flex;
    align-items: center;
}
.home-info #front{
    color: #7d53c9;
    font-size: 45px;
    font-weight: 600;

}


.btn-sci{
    margin-top: 15px;
}

.btn{
    
    display: inline-block;
    padding: 10px 30px;
    background: #5900ff;
    border: 2px solid #5900ff;
    border-radius: 30px;
    box-shadow: 0 0 10px  #5900ff;
    color: #ffffff;
    font-weight: 600;
    transition: .5s;
}

.btn:hover{
    background: transparent;
    color: #5900ff;
    box-shadow: none;
}

.home-info .btn-sci .sci{
    margin-left: 20px;
}

.home-info .btn-sci .sci a{
    display: inline-flex;
    padding: 8px;
    border: 2px solid #5900ff;
    border-radius:50%;
    font-size: 1.3em;
    margin: 0 8px;
    transition: .5s;
    

}

.sci a i{
    font-size: 25px;
}

.home-info .btn-sci .sci a:hover{
    background: transparent;
    color: #5900ff;
    box-shadow: none;
}



.home-img .img-box{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    margin-left: 20%;
    padding: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    justify-content: center;
}

.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent ,transparent,transparent, #5900ff);
    transform: rotate(0de);
    animation: rotate-border 4s linear  infinite;
}
.home-img .img-box::after{
    animation-delay: -2s;
}

@keyframes rotate-border{
    100%{
        transform: rotate(360deg);
    }
}

.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background: rgb(20, 19, 21);
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    z-index: 2;
    justify-content: center;
    border: .1px solid rgb(29, 27, 27);
}

.home-img .img-box .img-item img{
    position: absolute;
    display: block;
    width: 20rem;
    top: 30px;
    align-items: center;
    mix-blend-mode: lighten;
}



